@media only screen and (max-device-width: 600px) {
    .footer-second{


    }
    .footer-first{

    }
    .footer-second h5{
        font-size: 25px;
        font-weight: 300;
    }
    .footer-email input{
        font-size: 25px!important;
    }
    .footer-second .submit-button{

    }
}

.custom-social-icon{
    background: #a0a0a0;
    color: #0a0a0a;
    padding: 10px;
    padding-left: 10px; padding-right: 10px;
    border-radius: 100%;
}

.custom-facebook{
    padding-left: 13px; padding-right: 13px;
}