@media only screen and (max-device-width: 600px) {
    .footer-second{


    }
    .footer-first{

    }
    .footer-second h5{
        font-size: 25px;
        font-weight: 300;
    }
    .footer-email input{
        font-size: 25px!important;
    }
    .footer-second .submit-button{

    }
}