body{
    /*background: rgb(23,22,40);*/
    background: #ffffff;
}
.heading{
    color:rgb(239,150,12); font-weight: 100; padding-top: 0px; padding-bottom: 100px; text-shadow:6px #000;
}


.row{
    position:relative;
}

.header{
    background: rgb(23,22,40); margin: 0 !important;position: relative; top:0; padding: 50px; min-height: 100vh;
}

.register-button{
    position: absolute; bottom:150px; left: 0; right: 0; margin: auto; z-index: 1;
}

.register{
    background: rgb(23,22,40); margin: 0 !important;position: relative; top:-105px;
}

.speakers{
    background: rgb(23,22,40); margin: 0 !important;position: relative; top:-155px; 
}

.agenda{
    background: rgb(23,22,40); margin: 0 !important;position: relative; top:-155px; padding: 10px;
}

.info-icons{
    background: rgb(23,22,40); position: relative; top: -105px; padding-top: 100px;
}


.past-events{
    background: #ffffff; margin: 0 !important;
}

.footer-content{
    margin: auto; padding: 20px;
}

/* label color */
.input-field label {
    color: #f0f0f0;
}
 
.input-field input[type=email]+label{
    color: #a1a1a1;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: rgb(239,150,12);
}
.input-field input[type=email]:focus + label {
    color: rgb(239,150,12);
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(239,150,12);
    box-shadow: 0 1px 0 0 rgb(239,150,12);
}
.input-field input[type=email]:focus {
    border-bottom: 1px solid rgb(239,150,12);
    box-shadow: 0 1px 0 0 rgb(239,150,12);
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid rgb(239,150,12);
    box-shadow: 0 1px 0 0 rgb(239,150,12);
}
.input-field input[type=email].valid {
    border-bottom: 1px solid rgb(239,150,12);
    box-shadow: 0 1px 0 0 rgb(239,150,12);
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid rgb(239,150,12);
    box-shadow: 0 1px 0 0 rgb(239,150,12);
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: rgb(239,150,12);
}
.timeline-link{
    font-size: 12px;
}

.footer-logo{
    width: 80px;
    margin-top:0px !important; 
}

.footer-content{
    margin-top: 20px;
    color: #fff;
}

footer{
    overflow: hidden;
}
footer a{
    color: #fff;
    border-bottom: 0.5px solid #fff; transition: all 0.5s;
}

footer a:hover{
    border-bottom: 2px solid rgb(23,22,40); transition: all 0.1s;
}

.social-icons{
    color: white; word-spacing: 30px; font-size: 24px; 
}

.social-icons i{
    transition: all 0.5s; color: white;
}

.social-icons i:hover{cursor: pointer; transition: all 0.5s;opacity: 0.5;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 600px){
	.event{
		min-width: 80%!important;
		max-width: 80%!important;
	}
	.event-1{
		min-width: 74%!important;
		max-width: 74%!important;
	}
}

.custom-m4{
    min-width: 29%;
    max-width: 29%;
}

nav{
    position: absolute; top: 0; left: 0; width: 100%; z-index: 1; box-shadow: 0 0 0 0 !important;
}

.brand-logo img{
    width: 20%; margin-left: 10%;
}

@media(max-width: 768px){
    .brand-logo img{
        width: 50%; margin-left:0;
    }
}

@media(max-width: 600px){
    .brand-logo img{
        width: 100%; margin: auto;
    }
}

