.speakers{
    padding: 10px;
}

@media(min-width: 600px){
    .speakers{
        padding: 100px;
    }
}

.speaker{
    padding: 30px; margin: 0px; color: #ffffff; margin-bottom: 50px;
}

.speaker img{
    width: 50%; border-radius: 50%; padding: 20px;
}