.agenda-header{
  margin-top: 6%;
  text-align: center;
}
.agenda-header h4{
  color: rgb(246,154,9);
}
.agenda-items{
  padding: 5%;
  margin-top: 3%;
  margin-left: 3%;
}
.agenda-item{
  float: left;
  border: 1px solid white;
}
.agenda-item-header img{
  border-radius: 50%;
  width: 6vw;
  border: 5px solid rgb(246,154,9);
  cursor: pointer;
}
.agenda-item-header p{
  color: rgb(246,154,9);
  margin-left: 2%;
}
/*.agenda-item-data{
  width: 35%;
  background: rgb(246,154,9);
  padding:1%;
  margin-top: 3%;
  padding-bottom: 0%;
}
.agenda-item-data p:nth-child(1){
  color: white;
  background: rgb(23,22,40);
  width: 40%;
  padding: 5px;
}
.agenda-item-data p:nth-child(2){
  color: rgb(246,154,9);
  background: rgb(23,22,40);
  width: 63%;
  padding: 5px;
}
.agenda-item-data p:nth-child(3){
  font-size: 14px;
}*/
.agenda-item-data img{
  border-radius: 50%;
  width: 6vw;
  border: 5px solid rgb(246,154,9);
  cursor: pointer;
  float: right;
  position: absolute!important;
  top: 2%;
  left: 65%;
}
.agenda-item-data{
  width: 50%;
  background: rgb(246,154,9);
  padding:1%;
  margin-top: 3%;
  padding-bottom: 0%;
}
.agenda-item-data p:nth-child(1){
  color: white!important;
  background: rgb(23,22,40)!important;
  font-size: 18px!important;
  width: 40%!important;
  padding: 5px!important;
  margin-top: 1px!important;
}
.agenda-item-data p:nth-child(3){
  color: rgb(246,154,9)!important;
  margin-top: 0.5%!important;
  background: rgb(23,22,40)!important;
  width: 40%!important;
  padding: 5px!important;
  font-size: 18px!important;
}
.agenda-item-data p:nth-child(4){
  font-size: 15px!important;
  color: black!important;
}








.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(246,154,9);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: rgb(246,154,9);
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: rgb(246,154,9);
  border-color: rgb(246,154,9);
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: rgb(246,154,9);
  border-color: rgb(246,154,9);
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: rgb(246,154,9);
}
@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../images/cd-arrow.svg) no-repeat 0 0;
}
.events-wrapper::before,.events-wrapper::after{
  background: rgb(23,22,40)!important;
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  /*border-color: #7b9d6f;*/
  border-color: rgb(246,154,9);
}
.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-content h2 {
  font-weight: bold;
  font-size: 2.6rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
}
.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}
.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}
.cd-horizontal-timeline .events-content p {
  font-size: 1.4rem;
  color: #959595;
}
.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}
@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 7rem;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 2rem;
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 1.8rem;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {

}
body {

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Footer Page Styles*/
.footer{
  width: 100%;
  padding: 5%;
}
.footer-first{
  border-right: 2px solid rgb(246,154,9);
  width: 50%;
  height: 10vw;
}
.footer-second{
  width: 50%;
  padding-left: 3%!important;
}
.footer-second h5{
  color: white;
  font-weight: 300;
  font-size: 20px;
}
.footer-email{

  font-size: 13px!important;
}
.footer-email input{
  font-weight: 300!important;
}
.footer-second .submit-button{
  position: relative;
  top: 1vw;
  padding: 0.4vw;
}
.submit-button{
  background: rgb(246,154,9);
  color: white;
  border: none;
  padding: 1.5%;
}
.submit-button:active{
  background: rgb(246,154,9)!important;
  color: white!important;
}
.submit-button:focus{
  background: rgb(246,154,9)!important;
  color: white!important;
}


/*Past Events Page Styles*/
.past-events-header{
  color: rgb(246,154,9);
  font-weight: 300;
  text-align: center;
}
.past-events-events{
  margin-left: 8%!important;
}
.past-events-events .event{
  border: 2px solid white;
  background: rgb(215,215,215);
}
.past-events-events .event h5{
  color: rgb(246,154,9);
}
.past-events-events .event p{
  font-size: 15px;
}


/*Info Page Styles*/
.info-header h3{
  text-align: center;
  color: rgb(246,154,9);
  font-weight: 300;
}
.info-place{
  margin-left: 5%!important;
  margin-right: 5%!important;
  border-bottom: 2px solid rgb(246,154,9);
  padding: 3%;
  color: white;
}
.info-date{
  border-right: 2px solid rgb(246,154,9);
}
.info-date img{
  position: relative;
  left: 60%;
}
.info-date-header{
  background: rgb(246,154,9);
  color: white;
  width: 10%;
  padding: 1%;
  font-size: 18px;
  min-width: 68px;
}
.info-date-header{
  display: inline;
  position: relative;
  left: 60%;
  top: -25px;
}
.info-date-date{
  font-weight: 700;
  font-size: 50px!important;
  position: relative;
  left: 60%;
}
.info-date-month{
  position: relative;
  left: 72%;
  top: -45px;
}
.info-date-year{
  font-weight: 700;
  font-size: 32px;
  position: relative;
  left: 72%;
  top: -45px;
}
.info-venue{
  padding-left: 2%!important;
}
.info-venue-header{
  background: rgb(246,154,9);
  color: white;
  width: 10%;
  padding: 1%;
  font-size: 18px;
  min-width: 68px;
}
.info-venue-location{
  font-weight: 400;
  font-size: 22px;
}
.info-venue-header{
  display: inline;
  position: relative;
  top: -25px;
}
.info-venue-location{
  position: relative;
  left: 12%;
}

.info-data{
  margin: auto;
  padding: 5%;
  font-size: 18px;
  font-weight: 300;
  color: white;
  width: 80%;
}
.info-icons{
  margin: auto;
  padding: 5%;
}

/*Header Page Styles*/
.header-image{
  margin-top: 10%;
  margin-left: 18%;
}
.header-button{
  margin-top: 5%;
  margin-left: 48%;
  padding: 1%;
  color: rgb(23,22,40)!important;
  font-weight: 700;
  min-width: 120px;
}
.header-button:active{
  color: rgb(23,22,40)!important;
}
.header-button:focus{
  color: rgb(23,22,40)!important;
}
